.git
.github
.superpowers
.env
.env.*
!.env.example
.worktrees
node_modules
npm-debug.log
yarn-error.log
vendor
storage/*.key
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.result.cache
.pest
.fleet
.idea
.vscode
tests
